@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bug Tracker</h1>
    <p>Learn More about Bugs by clicking Bug from the Navbar above.</p>
</div>
